/*--+....1....+....2....+....3....+....4....+....5....+....6....+....7
#---------------------------------------------------------------------
#  第3章 JavaScriptを学ぼう  3-1 JavaScriptの基礎を覚えよう
#  CH3-01:CSSファイルを作成しよう
#  Update:2026-02-16 大塚
#  Path  :D:\WebProg\ch3
#  HTML  :styles3-1.css
#-------------------------------------------------------------------*/
body {
    font-family: sans-serif;
    font-size: 1.2em;
    padding: 0em 1em;
    background-color: #f0f9ff;
}

.container {
    background-color: white;
    padding: 0.1em 1.2em;
}

h1 {
    font-size: 1.5em;
    font-weight: normal;
    color: blue;
}

h2 {
    font-size: 1.2em;
    font-weight: normal;
    color: blue;
}

h3 {
    font-size: 1.1em;
    font-weight: normal;
    color: blue;
}

p {
    padding: 5px 10px;
}

label {
    font-size: 0.75em;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
    display: block;
    width: 300px;
}
input, select{
    padding: 5px;
    margin: 2px 0px;
    font-size: 1.0em;
    display: block;
}
button{
    font-size: 1.0em;
    padding: 3px 20px;
    margin: 5px 0px;
}